.document {
  overflow: scroll;
}

.staffInput {
  position: absolute;
  left: 0%;
  top: 62%;
}

.displayContainer {
  position: absolute;
  top: 62%;
}

.staffInput, .inputDisplay {
  position: relative;
  float: left;
}

.inputDisplay {
  left: 10%;
}

#fileUpload, #fileSave {
  visibility: hidden;
}

.panel-body {
  padding: 10px;
}

.panel.panel-default {
  float: left;
  width: 80%;
  height: 198px;
}

.btn-group-vertical {
  float:left;
  border: 1px solid;
}

svg {
  top: 0;
  height: 50%;
  width: 31;
}

svg.document.staff {
    float: left;
    display: block;
}

svg.left-bar.staff {
    display: block;
    float: left;
}

div.left-bar {
  float: left;
  background-color: #E5E5E5;
  width: 20%;
  max-width: 130px;
}

div.document {
    float: left;
}

div.staff {
    float: left;
}

.panel.panel-default.shortcuts {
 width: 100%; 
}

.label-shortcuts {
  text-align: center;
}

#shortcut-row {
  text-align: center;
}


