#fileUpload, #fileSave {
  visibility: hidden;
}

.panel-body {
  padding: 10px;
}

.panel.panel-default {
  float: right;
  width: 89%;
}

.btn-group-vertical {
  float:left;
  border: 1px solid;
}

svg {
  top: 0;
  height: 50%;
  width: 31;
  /*viewBox:0 0 10 40;*/
}

svg.staff {
    display: block;
}

.left-bar {
  float: left;
  background-color: #E5E5E5;
}

.panel.panel-default.shortcuts {
 width: 100%; 
}

.label-shortcuts {
  text-align: center;
}

#shortcut-row {
  text-align: center;
}

/*
body {
  float: left;
  height: 100%;
  width: 100%;
  margin: 5px;
}

div {
  background-color: rgba(200,200,200,0.5);
  border-radius: 5px;
}

#row1, #row2, #row3 {
  position: relative;
  margin:auto;
  left: 11%;
}

#topContainer{
  width: 100%;
  height: 30%;
  
  position: absolute;
}

#mainContainer{

  
  width: 100%;
  height: 70%;
  position: absolute;
  top: 32%;
}

#main {
  width: 88%;
  height: 100%;
  border: solid yellow;
  
  float: right;
  overflow-y: auto;
}
#leftPanel {
  width: 10%;
  height: 100%;
  border: solid black;
  float: left;
  overflow-y: auto;

}

#layer {
  width: 100%;
  height: 70%;
  border: solid green;
}

#meta, #staff{
  overflow-x: auto;
  
  width: 98%;
  border: solid red;
}

#meta {
  height: 20%;
}

#staff {
  height: 70%;
}

#topPanel {
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
}


#menu {
  width: 100%;
  height: 25%;
  border: solid black;
}

#shortcuts {
  width: 100%;
  height: 70%;
  border: solid blue;
}*/

