<html>

  <head>
    <link rel='stylesheet' href='../css/styles.css'>
    <link rel='stylesheet' href='../css/keys.css'>
    <script src='../bower_components/jquery/dist/jquery.js'></script>
    <script src='../bower_components/angular/angular.js'></script>
    <script src='../js/helper.js'></script>
    <script src='../js/keyboard.js'></script>
    <script src='../js/app.js'></script>
  </head>

  <body ng-app='app' ng-controller='mainCtrl'>



    <div id='topContainer'>

      <div id='topPanel'>

        <div id='menu'>
          menu

        </div>

        <div id='shortcuts' ng-click='click($event)'>
          shortcuts
          <div id='row1'>
          <!-- <span>&#9556;</span> -->
            <!-- <kbd class='q'>q</kbd> -->
            <kbd class='q'><svg viewBox="0 0 25 25">
              <path d="M24.778,21.419 19.276,15.917 24.777,10.415 21.949,7.585 16.447,13.087 10.945,7.585 8.117,10.415 13.618,15.917 8.116,21.419 10.946,24.248 16.447,18.746 21.948,24.248z">
              </svg>q</kbd>
            <kbd class='w'><svg viewBox="0 0 25 25">
              <path d="M24.778,21.419 19.276,15.917 24.777,10.415 21.949,7.585 16.447,13.087 10.945,7.585 8.117,10.415 13.618,15.917 8.116,21.419 10.946,24.248 16.447,18.746 21.948,24.248z">
              </svg>w</kbd>
            <kbd class='e'><svg viewBox="0 0 25 25">
              <path d="M24.778,21.419 19.276,15.917 24.777,10.415 21.949,7.585 16.447,13.087 10.945,7.585 8.117,10.415 13.618,15.917 8.116,21.419 10.946,24.248 16.447,18.746 21.948,24.248z">
              </svg>e</kbd>
            <kbd class='r'><svg viewBox="0 0 25 25">
              <path d="M24.778,21.419 19.276,15.917 24.777,10.415 21.949,7.585 16.447,13.087 10.945,7.585 8.117,10.415 13.618,15.917 8.116,21.419 10.946,24.248 16.447,18.746 21.948,24.248z">
              </svg>r</kbd>
            <kbd class='t'><svg viewBox="0 0 25 25">
              <path d="M24.778,21.419 19.276,15.917 24.777,10.415 21.949,7.585 16.447,13.087 10.945,7.585 8.117,10.415 13.618,15.917 8.116,21.419 10.946,24.248 16.447,18.746 21.948,24.248z">
              </svg>t</kbd>
            <kbd class='y'><svg viewBox="0 0 25 25">
              <path d="M24.778,21.419 19.276,15.917 24.777,10.415 21.949,7.585 16.447,13.087 10.945,7.585 8.117,10.415 13.618,15.917 8.116,21.419 10.946,24.248 16.447,18.746 21.948,24.248z">
              </svg>y</kbd>
            <kbd class='u'><svg viewBox="0 0 25 25">
              <path d="M24.778,21.419 19.276,15.917 24.777,10.415 21.949,7.585 16.447,13.087 10.945,7.585 8.117,10.415 13.618,15.917 8.116,21.419 10.946,24.248 16.447,18.746 21.948,24.248z">
              </svg>u</kbd>
            <kbd class='i'><svg viewBox="0 0 25 25">
              <path d="M24.778,21.419 19.276,15.917 24.777,10.415 21.949,7.585 16.447,13.087 10.945,7.585 8.117,10.415 13.618,15.917 8.116,21.419 10.946,24.248 16.447,18.746 21.948,24.248z">
              </svg>i</kbd>
            <kbd class='o'><svg viewBox="0 0 25 25">
              <path d="M24.778,21.419 19.276,15.917 24.777,10.415 21.949,7.585 16.447,13.087 10.945,7.585 8.117,10.415 13.618,15.917 8.116,21.419 10.946,24.248 16.447,18.746 21.948,24.248z">
              </svg>o</kbd>
            <kbd class='p'><svg viewBox="0 0 25 25">
              <path d="M24.778,21.419 19.276,15.917 24.777,10.415 21.949,7.585 16.447,13.087 10.945,7.585 8.117,10.415 13.618,15.917 8.116,21.419 10.946,24.248 16.447,18.746 21.948,24.248z">
              </svg>p</kbd>
          </div>
          <br>
          <div id='row2'>
            <kbd class='a'>a -- &#9833;</kbd>
            <kbd class='s'>s -- &#9834;</kbd>
            <kbd class='d'>d -- &#9835;</kbd>
            <kbd class='f'>f -- &#9836;</kbd>
            <kbd class='g'>g -- &#9837;</kbd>
            <kbd class='h'>h -- &#9838;</kbd>
            <kbd class='j'>j -- &#9839;</kbd>
            <kbd class='k'>k -- &#9840;</kbd>
            <kbd class='l'>l -- &#9841;</kbd>
            <kbd class='semc'>; -- &#9842;</kbd>
          </div>
          <br>
          <div id='row3'>
            <kbd class='z'>z</kbd>
            <kbd class='x'>x</kbd>
            <kbd class='c'>c</kbd>
            <kbd class='v'>v</kbd>
            <kbd class='b'>b</kbd>
            <kbd class='n'>n</kbd>
            <kbd class='m'>m</kbd>
            <kbd class='comma'>,</kbd>
            <kbd class='dot'>.</kbd>
            <kbd class='slash'>/</kbd>
          </div>
        </div>

      </div>

    </div>

    <div id='mainContainer'>

      <div id='leftPanel'>
        leftPanel
      </div>

      <div id="main">
        main
        <div id='layer'>
          layer
          <div id='meta'>
            meta
          </div>
          <div id='staff'>
            staff
            <input ng-model='input' ng-keypress='press($event)'>

            <div> {{ note }} </div>
          </div>
        </div>
        <div id='layer'>
          layer
          <div id='meta'>
            meta
          </div>
          <div id='staff'>
            staff
            <input ng-model='input' ng-keypress='press($event)'>

            <div> {{ note }} </div>
          </div>
        </div>
      </div>

    </div>

  </body>


</html>
