<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lilypond GUI</title>

    <!-- Bootstrap -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='../css/keys.css'>
    <link rel='stylesheet' href='../css/styles.css'>
    <script src='../bower_components/jquery/dist/jquery.js'></script>
    <script src='../bower_components/angular/angular.js'></script>
    <script src='../bower_components/underscore/underscore.js'></script>
    <script src='../js/lzadialog.js'></script>
    <script src='../js/helper.js'></script>
    <script src='../svg/musicSVG.js'></script>
    <script src='../svg/paths.js'></script>
    <script src='../js/leftBar.js'></script>
    <script src='../js/documentView.js'></script>
    <script src='../js/init.js'></script>
    <script src='../js/app.js'></script>
    <!-- <script src='../js/node-main.js'></script> -->

  </head>
  <body ng-app="app">

  <script type="text/ng-template" id="staff.html">
    <div class="panel panel-default">
      <div class="panel-heading">
        Staff 1 - Meta
      </div>
      <div class="panel-body">
        <p>
          Layer track here
        </p>
      </div>
    </div>
  </script>

  <div id='container' ng-controller='mainCtrl'>
  <!-- START TOP NAV BAR -->
  <!-- ########################## -->
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Lilypond GUI</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <div class="btn-group">
              <!-- <input type="file" id='fileUpload'></input> -->
            <button type='button' id='loadFile' class='btn btn-default btn-group-horizontal'>Load file</button>
            <!-- <input type='file' id='fileSave'></input> -->
            <button type='button' id='saveFile' class='btn btn-default btn-group-horizontal'>Save file</button>
            </div>
        </ul>

<!--         <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Link</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
        </ul> -->
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->

  <div class="panel panel-default shortcuts">
    <div class="panel-body">
      <div class='label-shortcuts'> <p> Keyboard shortcuts </p> </div>
      <div id='shortcut-row'>

        <span> 
          <kbd class='q'>
            <svg viewBox="0 0 25 25">
              <path d="M24.778,21.419 19.276,15.917 24.777,10.415 21.949,7.585 16.447,13.087 10.945,7.585 8.117,10.415 13.618,15.917 8.116,21.419 10.946,24.248 16.447,18.746 21.948,24.248z">
            </svg>
          q</kbd>
        </span>

        <span>
          <kbd class='w'>
            <svg viewBox="0 0 25 25">
              <path d="M24.778,21.419 19.276,15.917 24.777,10.415 21.949,7.585 16.447,13.087 10.945,7.585 8.117,10.415 13.618,15.917 8.116,21.419 10.946,24.248 16.447,18.746 21.948,24.248z">
            </svg>
          w</kbd>
        </span>
        <span>
          <kbd class='e'>
            <svg viewBox="0 0 25 25">
              <path d="M24.778,21.419 19.276,15.917 24.777,10.415 21.949,7.585 16.447,13.087 10.945,7.585 8.117,10.415 13.618,15.917 8.116,21.419 10.946,24.248 16.447,18.746 21.948,24.248z">
            </svg>
          e</kbd>
        </span>
        <span>
          <kbd class='r'>
            <svg viewBox="0 0 25 25">
              <path d="M24.778,21.419 19.276,15.917 24.777,10.415 21.949,7.585 16.447,13.087 10.945,7.585 8.117,10.415 13.618,15.917 8.116,21.419 10.946,24.248 16.447,18.746 21.948,24.248z">
            </svg>
          r</kbd>
        </span>
        <span>
          <kbd class='t'>
            <svg viewBox="0 0 25 25">
              <path d="M24.778,21.419 19.276,15.917 24.777,10.415 21.949,7.585 16.447,13.087 10.945,7.585 8.117,10.415 13.618,15.917 8.116,21.419 10.946,24.248 16.447,18.746 21.948,24.248z">
            </svg>
          t</kbd>
        </span>
        <span>
          <kbd class='y'>
            <svg viewBox="0 0 25 25">
              <path d="M24.778,21.419 19.276,15.917 24.777,10.415 21.949,7.585 16.447,13.087 10.945,7.585 8.117,10.415 13.618,15.917 8.116,21.419 10.946,24.248 16.447,18.746 21.948,24.248z">
            </svg>
          y</kbd>
        </span>
        <span>
          <kbd class='u'>
            <svg viewBox="0 0 25 25">
              <path d="M24.778,21.419 19.276,15.917 24.777,10.415 21.949,7.585 16.447,13.087 10.945,7.585 8.117,10.415 13.618,15.917 8.116,21.419 10.946,24.248 16.447,18.746 21.948,24.248z">
            </svg>
          u</kbd>
        </span>
        <span>
          <kbd class='i'>
            <svg viewBox="0 0 25 25">
              <path d="M24.778,21.419 19.276,15.917 24.777,10.415 21.949,7.585 16.447,13.087 10.945,7.585 8.117,10.415 13.618,15.917 8.116,21.419 10.946,24.248 16.447,18.746 21.948,24.248z">
            </svg>
          i</kbd>
        </span>
        <span>
          <kbd class='o'>
            <svg viewBox="0 0 25 25">
              <path d="M24.778,21.419 19.276,15.917 24.777,10.415 21.949,7.585 16.447,13.087 10.945,7.585 8.117,10.415 13.618,15.917 8.116,21.419 10.946,24.248 16.447,18.746 21.948,24.248z">
            </svg>
          o</kbd>
        </span>
        <span>
          <kbd class='p'>
            <svg viewBox="0 0 25 25">
              <path d="M24.778,21.419 19.276,15.917 24.777,10.415 21.949,7.585 16.447,13.087 10.945,7.585 8.117,10.415 13.618,15.917 8.116,21.419 10.946,24.248 16.447,18.746 21.948,24.248z">
            </svg>
          p</kbd>
        </span>

      </div>

      <div id='shortcut-row'>
        <span><kbd class='a'>a</kbd></span>
        <span><kbd class='s'>s</kbd></span>
        <span><kbd class='d'>d</kbd></span>
        <span><kbd class='f'>f</kbd></span>
        <span><kbd class='g'>g</kbd></span>
        <span><kbd class='h'>h</kbd></span>
        <span><kbd class='j'>j</kbd></span>
        <span><kbd class='k'>k</kbd></span>
        <span><kbd class='l'>l</kbd></span>
        <span><kbd class='semc'>;</kbd></span>
      </div>

      <div id='shortcut-row'>
        <span><kbd class='z'>z</kbd></span>
        <span><kbd class='x'>x</kbd></span>
        <span><kbd class='c'>c</kbd></span>
        <span><kbd class='v'>v</kbd></span>
        <span><kbd class='b'>b</kbd></span>
        <span><kbd class='n'>n</kbd></span>
        <span><kbd class='m'>m</kbd></span>
        <span><kbd class='comma'>,</kbd></span>
        <span><kbd class='dot'>.</kbd></span>
        <span><kbd class='slash'>/</kbd></span>
      </div>

    </div>
  </div>

  </nav>
  <!-- STOP TOP NAV BAR -->
  <!-- ########################## -->

  <div class="left-bar">
    <div left-bar ng-model="leftBarModel"></div>
    <div class="left-bar-control">
      <input type="text" size="10" ng-model="leftBarModel.key" placeholder="key">
      <br>
      <input type="text" size="10" ng-model="leftBarModel.time.top" placeholder="top time">
      <br>
      <input type="text" size="10" ng-model="leftBarModel.time.bottom" placeholder="bottom time">
    </div>
  </div>

  <div id='main'>
    <div ng-track ng-keydown='key($event)' ng-model='staff' tabindex='0'>
      <div class="document-view">
        <div document-view ng-model="documentModel"></div>
      </div>
    </div>
  </div>

<!--   <div class="panel panel-default">
    <div class="panel-heading">
      Staff 1 - Meta
    </div>
    <div class="panel-body">
      <p>
        Layer track here
      </p>
    </div>
  </div> -->

  <!-- END MAIN DIV
  ############ -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
